<a href="/cooks">Cooks</a>
<a href="/restaurants">Restaurants</a>
<h1><%= @cook.name %></h1>

<p>Restaurant ID: <%= @cook.restaurant_id %></p>
<p>ServSafe Certification: <%= @cook.serv_safe_certified %></p>
<p>Number of Dishes Known: <%= @cook.dishes_known %></p>
<p>Created: <%= @cook.created_at %></p>
<p>Last Updated: <%= @cook.updated_at %></p>
<a href="/cooks/<%= @cook.id %>/edit">Update Cook</a>
<p><%= link_to "Delete #{@cook.name}", "/cooks/#{@cook.id}", method: :delete %></p>