<a href="/cooks">Cooks</a>
<a href="/restaurants">Restaurants</a>

<h1><%= @restaurant.name %></h1>
<a href="/restaurants/<%= @restaurant.id %>/cooks">Restaurants Cooks</a>

<p>Open: <%= @restaurant.open %></p>
<p>Number of Dishes: <%= @restaurant.dishes %></p>
<p>Created: <%= @restaurant.created_at %></p>
<p>Last Updated: <%= @restaurant.updated_at %></p>
<p>Cooks: <%= @restaurant.cook_count %></p>

<a href="/restaurants/<%= @restaurant.id %>/edit">Update Restaurant</a>
<p><%= link_to "Delete #{@restaurant.name}", "/restaurants/#{@restaurant.id}", method: :delete %></p>